body {
    background: #b4eeca;
    font-family: Tahoma, Arial, sans-serif;
}

section {
    margin-left: 30px;
    border: 1px solid black;
    width: 75%;
}

h1 {
    color: blueviolet;
    font: 32px Garamond, Helvetica, serif;
    text-align: center;
}

table {
    width: 50%;
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
}